<div class="bg"></div>
<form class="form-group container-fluid">
  <div class="container mb-3">
    <div class="input-group">
      <span class="input-group-text">Articles Filter</span>
      <input type="text" [(ngModel)]="filterText" name="table" class="form-control" aria-describedby="filter"
        placeholder="Enter title here">
    </div>
  </div>
  <div class="container d-flex flex-wrap">
    <div class="card mb-3" style="width: 100%" *ngFor="let article of articles | filter: filterText">
      <div class="card-header"><span style="font-weight: bold; color: blue;">Title :</span> {{ article.title }}</div>
      <div class="card-body">
        <h5 class="card-title"><span style="font-weight: bold;">Subject :</span>&nbsp;{{ article.subject }}</h5>
        <p class="card-text">{{ article.text }}</p>
        <div class="d-grid gap-3 d-md-flex justify-content-md-end">
          <div class="btn-update">
            <button type="button" class="btn btn-warning" (click)="UpdateArticle(article)" style="margin: 0 15px;">update</button>
          </div>
          <div class="btn-delete">
            <button type="button" mat-fab color="primary" matTooltip="Delete"
              matTooltipPosition="right" aria-label="Example icon button with a delete icon"
              (click)="deleteArticle(article)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-success" [routerLink]="['/add']">Add</button>
</form>